<div class="search">
  <mat-form-field>
    <mat-label>Procurar</mat-label>
    <input
      matInput
      (keyup)="search($event)"
      placeholder="Nome da Pessoa"
      #input
      style="padding-top: 12px"
    />
  </mat-form-field>
</div>

<table mat-table [dataSource]="multas">
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Pessoa</th>
    <td mat-cell *matCellDef="let row">{{ row.pessoa.nome }}</td>
  </ng-container>

  <ng-container matColumnDef="mensagem">
    <th mat-header-cell *matHeaderCellDef>Multa</th>
    <td mat-cell *matCellDef="let row">{{ row.mensagem }}</td>
  </ng-container>

  <ng-container matColumnDef="dias_atrasados">
    <th mat-header-cell *matHeaderCellDef>Dias Atrasados</th>
    <td mat-cell *matCellDef="let row">{{ row.dias_atrasados }}</td>
  </ng-container>

  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef>Valor</th>
    <td mat-cell *matCellDef="let row">{{ row.valor }}</td>
  </ng-container>

  <ng-container matColumnDef="pago">
    <th mat-header-cell *matHeaderCellDef>Pago?</th>
    <td mat-cell *matCellDef="let row">
      <ng-container *ngIf="row.pago; else showXIcon">
        {{ formatDate(row.pago) }}
      </ng-container>
      <ng-template #showXIcon>
        <fa-icon [icon]="faX" style="color: red"></fa-icon>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]="'/biblioteca/emprestimo/' + row.id"
  ></tr>
</table>

<mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageIndex]="currentPage"
  (page)="onPageChange($event)"
  showFirstLastButtons
  [pageSizeOptions]="[10, 50, 100]"
  aria-label="Select page of classes"
></mat-paginator>
