<app-header></app-header>
<app-navbar></app-navbar>

<div class="content-wrapper" style="background: gray">
  <div
    class="forProfessor card"
    *ngIf="authService.checkRoles(['Professor']) && showCard"
  >
    <div class="card-header">
      {{
        classe != null
          ? classe.disciplina.nome + " - " + classe.ano
          : "Classe Não Encontrado"
      }}
    </div>
    <div class="card-body" *ngIf="showCardBody">
      <div class="mat-elevation-z8">
        <mat-tab-group>
          <mat-tab label="PRESENÇA">
            <app-aluno-presenca-table
              [classe]="classe"
              [alunos]="alunos"
              [classe_id]="classe_id"
              [user_id]="user_id"
            ></app-aluno-presenca-table>
          </mat-tab>
          <mat-tab label="NOTA">
            <app-classe-aluno-table
              [classe]="classe"
              [alunos]="alunos"
              [classe_id]="classe_id"
              [user_id]="user_id"
            ></app-classe-aluno-table>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<div class="forAluno" *ngIf="authService.checkRoles(['Aluno'])">
  <app-classe-detail-aluno></app-classe-detail-aluno>
</div>

<app-footer></app-footer>
