<app-header></app-header>
<app-navbar></app-navbar>

<div class="content-wrapper">
  <div class="forProfessor" *ngIf="authService.checkRoles(['Professor'])">
    <mat-tab-group>
      <mat-tab label="PRESENÇA">
        <app-aluno-presenca-table
          [classe]="classe"
          [alunos]="alunos"
          [classe_id]="classe_id"
        ></app-aluno-presenca-table>
      </mat-tab>
      <mat-tab label="NOTA">
        <app-classe-aluno-table
          [classe]="classe"
          [alunos]="alunos"
          [classe_id]="classe_id"
        ></app-classe-aluno-table>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="forAluno" *ngIf="authService.checkRoles(['Aluno'])">
    <app-classe-detail-aluno></app-classe-detail-aluno>
  </div>
</div>

<app-footer></app-footer>
