<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstForm">
    <form [formGroup]="firstForm">
      <ng-template matStepLabel>Título</ng-template>
      <div class="row">
        <div class="titulo col-12">
          <mat-form-field>
            <mat-label>Titulo</mat-label>
            <input
              matInput
              #input
              formControlName="titulo"
              placeholder="Coloque o Titulo"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="subtitulo col-12">
          <mat-form-field>
            <mat-label>SubTitulo</mat-label>
            <input
              matInput
              #input
              formControlName="subtitulo"
              placeholder="Coloque o Sub-Titulo"
            />
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondForm">
    <form [formGroup]="secondForm">
      <ng-template matStepLabel>Resumo/Capa</ng-template>

      <mat-form-field>
        <mat-label>Resumo</mat-label>
        <textarea matInput formControlName="resumo"></textarea>
      </mat-form-field>

      <div class="form-group">
        <label>Capa</label>
        <input
          type="file"
          formControlName="capa"
          placeholder="Selecione a Capa"
          (change)="onFileSelected($event)"
        />
      </div>

      <!-- <mat-form-field>
        <mat-label>Capa</mat-label>
        <input
          type="file"
          (change)="onFileSelected($event)"
          #fileInput
          hidden
        />
        <button (click)="fileInput.click()" color="primary">Choose File</button>
      </mat-form-field> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdForm">
    <form [formGroup]="thirdForm">
      <ng-template matStepLabel>Autor/Resumo</ng-template>

      <div class="autor-search-container">
        <mat-form-field>
          <mat-label>Autor</mat-label>
          <input
            matInput
            (keyup)="searchAutor($event)"
            placeholder="Nome do Autor"
            #inputAutor
            style="padding-top: 12px"
            formControlName="autor"
            [matAutocomplete]="autoAutor"
          />
          <mat-autocomplete #autoAutor="matAutocomplete">
            <mat-option
              *ngFor="let autorOption of filteredAutorOptions | async"
              [value]="autorOption.nome"
              (click)="getAutor(autorOption.id)"
            >
              {{ autorOption.nome }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="tradutor-container">
        <mat-form-field>
          <mat-label>Tradutor</mat-label>
          <input
            matInput
            #input
            formControlName="tradutor"
            placeholder="Coloque o Tradutor"
          />
        </mat-form-field>
      </div>

      <div class="editora-search-container">
        <mat-form-field>
          <mat-label>Editora</mat-label>
          <input
            matInput
            (keyup)="searchEditora($event)"
            placeholder="Nome da Editora"
            #inputEditora
            style="padding-top: 12px"
            formControlName="editora"
            [matAutocomplete]="autoEditora"
          />
          <mat-autocomplete #autoEditora="matAutocomplete">
            <mat-option
              *ngFor="let editoraOption of filteredEditoraOptions | async"
              [value]="editoraOption.nome"
              (click)="getEditora(editoraOption.id)"
            >
              {{ editoraOption.nome }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthForm">
    <form [formGroup]="fourthForm">
      <ng-template matStepLabel>Parâmetros</ng-template>

      <div class="row">
        <div class="categorias col-12">
          <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoria">
              <mat-option *ngFor="let cat of categorias" [value]="cat.id">{{
                cat.categoria
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="fourthForm.get('categoria')?.hasError('required')"
              >Selecione uma Categoria</mat-error
            >
            <mat-error
              *ngIf="
                fourthForm.get('categoria')?.hasError('pattern') &&
                !fourthForm.get('categoria')?.hasError('required')
              "
              >Escolha Inválida</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="idiomas col-12 col-md-6">
          <mat-form-field>
            <mat-label>Idioma</mat-label>
            <mat-select formControlName="idioma">
              <mat-option *ngFor="let idioma of idiomas" [value]="idioma.id">{{
                idioma.idioma
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="fourthForm.get('idioma')?.hasError('required')"
              >Selecione um idioma</mat-error
            >
            <mat-error
              *ngIf="
                fourthForm.get('idioma')?.hasError('pattern') &&
                !fourthForm.get('idioma')?.hasError('required')
              "
              >Escolha Inválida</mat-error
            >
          </mat-form-field>
        </div>

        <div class="tipos col-12 col-md-6">
          <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo">
              <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">{{
                tipo.tipo
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="fourthForm.get('tipo')?.hasError('required')"
              >Selecione um tipo</mat-error
            >
            <mat-error
              *ngIf="
                fourthForm.get('tipo')?.hasError('pattern') &&
                !fourthForm.get('tipo')?.hasError('required')
              "
              >Escolha Inválida</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="situacoes col-12 col-md-6">
          <mat-form-field>
            <mat-label>Situação</mat-label>
            <mat-select formControlName="situacao">
              <mat-option
                *ngFor="let situacao of situacoes"
                [value]="situacao.id"
                >{{ situacao.situacao }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="fourthForm.get('situacao')?.hasError('required')"
              >Selecione um situacao</mat-error
            >
            <mat-error
              *ngIf="
                fourthForm.get('situacao')?.hasError('pattern') &&
                !fourthForm.get('situacao')?.hasError('required')
              "
              >Escolha Inválida</mat-error
            >
          </mat-form-field>
        </div>

        <div class="estados col-12 col-md-6">
          <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
              <mat-option *ngFor="let estado of estados" [value]="estado.id">{{
                estado.estado
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="fourthForm.get('estado')?.hasError('required')"
              >Selecione um estado</mat-error
            >
            <mat-error
              *ngIf="
                fourthForm.get('estado')?.hasError('pattern') &&
                !fourthForm.get('estado')?.hasError('required')
              "
              >Escolha Inválida</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fifthForm">
    <form [formGroup]="fifthForm">
      <ng-template matStepLabel>Por Fim</ng-template>

      <div class="row">
        <div class="anoPublicacao col-12 col-md-6">
          <mat-form-field>
            <mat-label>Ano de Publicação</mat-label>
            <input
              matInput
              #input
              formControlName="ano_publicacao"
              placeholder="Coloque o Ano de Publicação"
            />
          </mat-form-field>
        </div>
        <div class="edicao col-12 col-md-6">
          <mat-form-field>
            <mat-label>Edição</mat-label>
            <input
              matInput
              #input
              formControlName="edicao"
              placeholder="Coloque a Edição"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="fourthForm.get('tipo')?.value == '1'">
        <div class="ibns col-12">
          <mat-form-field>
            <mat-label>IBNS</mat-label>
            <input
              matInput
              #input
              formControlName="ibns"
              placeholder="Coloque a IBNS"
            />
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="submit()">Criar</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
