<app-header></app-header>
<app-navbar></app-navbar>
<div class="content-wrapper" style="background-color: gray">
  <div class="search-container">
    <form>
      <fa-icon [icon]="faSearch"></fa-icon>
      <input type="text" placeholder="Pesquisa..." (input)="search($event)" />
    </form>
  </div>

  <div class="acervos" *ngIf="totalItems != 0; else noAcervo">
    <div class="acervo-container">
      <div
        class="acervo card"
        id="card-{{ acervo.id }}"
        *ngFor="let acervo of acervoList"
      >
        <img
          [src]="bibliotecaUrl + '/getCapa/' + acervo.capa"
          alt="Not Found"
          [routerLink]="'/biblioteca/acervo/' + acervo.id"
        />
        <div class="align-bottom">
          <a
            class="acervo-link"
            [routerLink]="'/biblioteca/acervo/' + acervo.id"
            [title]="acervo.titulo"
          >
            {{ acervo.titulo }}
          </a>
          <p class="autor-nome" [title]="acervo.autor.nome">
            {{ acervo.autor.nome }}
          </p>
        </div>

        <div class="accordion-item stick-bottom">
          <h2 class="accordion-header" [id]="'heading' + acervo.id">
            <button
              class="accordion-button btn btn-primary"
              type="button"
              [attr.data-bs-toggle]="'collapse'"
              [attr.data-bs-target]="'#collapse' + acervo.id"
              [attr.aria-expanded]="'false'"
              [attr.aria-controls]="'collapse' + acervo.id"
            >
              Ver Resumo
            </button>
          </h2>
          <div
            [id]="'collapse' + acervo.id"
            class="accordion-collapse collapse"
            [attr.aria-labelledby]="'heading' + acervo.id"
            [attr.data-bs-parent]="'#card-' + acervo.id"
          >
            <div class="accordion-body">
              <p>
                <strong>{{ acervo.subtitulo }}</strong>
              </p>
              {{ acervo.resumo }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <mat-paginator
      [pageSizeOptions]="[24]"
      [length]="totalItems"
      [pageIndex]="currentPage"
      (page)="onPageChange($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>

  <ng-template #noAcervo>
    <h1>ACERVO NÃO ENCONTRADO</h1>
  </ng-template>
</div>

<app-footer></app-footer>
