table {
    width: 100%;
}

.card {
    margin: 1em
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

tr:hover {
    background: whitesmoke;
}

.table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
}