<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a class="brand-link">
    <img
      src="assets/images/school.png"
      alt="Logo"
      class="brand-image elevation-3"
      style="opacity: 1"
    />
    <span class="brand-text font-weight-light">Nome Escola</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar" *ngIf="!authService.checkRoles(['Bibliotecário'])">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img [src]="userFoto" alt="User Image" *ngIf="userFoto" />
      </div>
      <div class="info" *ngIf="userData">
        <a class="d-block">{{ userData.nome }}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a routerLink="/home" class="nav-link" [routerLinkActive]="'active'">
            <fa-icon class="navbar_icon" [icon]="faHome"></fa-icon>
            Home
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.checkRoles(['Aluno'])">
          <a id="layoutOptionsLink" class="nav-link">
            <p>
              <fa-icon class="navbar_icon" [icon]="faUser"></fa-icon>
              Aluno
              <fa-icon class="navbar_icon float-right"></fa-icon>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a
            routerLink="/classe/list"
            class="nav-link"
            [routerLinkActive]="'active'"
          >
            <p>
              <fa-icon class="navbar_icon" [icon]="faUserGroup"></fa-icon>
              Classe
              <fa-icon class="navbar_icon float-right"></fa-icon>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a
            routerLink="/disciplina/list"
            class="nav-link"
            [routerLinkActive]="'active'"
          >
            <p>
              <fa-icon class="navbar_icon" [icon]="faUser"></fa-icon>
              Disciplina
              <fa-icon class="navbar_icon float-right"></fa-icon>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a
            routerLink="/curso/list"
            class="nav-link"
            [routerLinkActive]="'active'"
          >
            <p>
              <fa-icon class="navbar_icon" [icon]="faGraduationCap"></fa-icon>
              Curso
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/ativExtra/list"
            class="nav-link"
            [routerLinkActive]="'active'"
          >
            <p>
              <fa-icon class="navbar_icon" [icon]="faBaseball"></fa-icon>
              Atividade Extracurricular
            </p>
          </a>
        </li>

        <li
          class="nav-item"
          *ngIf="
            authService.checkPermission([
              'acervo.create',
              'acervo.read',
              'acervo.update',
              'acervo.delete',
              'acervo.*'
            ])
          "
        >
          <a
            routerLink="/biblioteca/acervo/list"
            class="nav-link"
            [routerLinkActive]="'active'"
          >
            <p>
              <fa-icon class="navbar_icon" [icon]="faBookOpen"></fa-icon>
              Biblioteca
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
