<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a class="brand-link">
    <img
      src="assets/images/school.png"
      alt="Logo"
      class="brand-image elevation-3 m-0"
      style="opacity: 1"
    />
    <span class="brand-text font-weight-light">Nome Escola</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img [src]="userFoto" alt="User Image" *ngIf="userFoto" />
      </div>
      <div class="info" *ngIf="userData">
        <a class="d-block">{{ userData.nome }}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a routerLink="/home" class="nav-link" [routerLinkActive]="'active'">
            <fa-icon class="navbar_icon" [icon]="faHome"></fa-icon>
            <p>Home</p>
          </a>
        </li>

        <app-aluno-professor-navbar></app-aluno-professor-navbar>

        <app-bibliotecario-navbar></app-bibliotecario-navbar>

        <app-secretaria-navbar></app-secretaria-navbar>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
