/* Initially hide the element */
.nav-biblioteca-treeview {
    display: none;
    transition: display 0.3s ease;
}

.nav-biblioteca-treeview.active {
    display: block;
}

.nav-biblioteca-treeview.active {
    display: block;
    opacity: 1;
    max-height: 1000px;
    transition: display 0.3s ease, opacity 0.3s ease, max-height 0.3s ease;
}