<!-- Content Header (Page header) -->
<!-- <div class="content-header"> -->
<!-- <div class="container"> -->
<!-- <div class="row mb-2"></div> -->
<!-- /.row -->
<!-- </div> -->
<!-- /.container-fluid -->
<!-- </div> -->
<!-- /.content-header -->

<!-- Main content -->
<section class="content" style="min-height: 100vh">
  <div class="container">
    <div class="row justify-content-center" style="padding: 5em">
      <div class="col-md-6">
        <!-- Card -->
        <div class="card">
          <div class="card-header">
            <h4>Login</h4>
          </div>
          <div class="card-body">
            <form
              (ngSubmit)="login()"
              [formGroup]="loginForm"
              #formDir="ngForm"
            >
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Entre email"
                  formControlName="email"
                  autocomplete="off"
                  required
                />
                <div
                  *ngIf="
                    loginForm.controls['email'].invalid && formDir.submitted
                  "
                  class="validation-error"
                >
                  <p *ngIf="loginForm.controls['email'].errors?.['required']">
                    EMAIL REQUIRED!!!
                  </p>
                </div>
              </div>

              <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <div class="input-group">
                  <input
                    [type]="senhaType"
                    class="form-control"
                    id="senha"
                    name="senha"
                    placeholder="Senha"
                    formControlName="senha"
                    autocomplete="off"
                    required
                  />
                  <fa-icon
                    class="hideSenha input-group-text"
                    [icon]="senhaIcon"
                    (click)="hideShowPassword()"
                  ></fa-icon>
                </div>

                <div
                  *ngIf="
                    loginForm.controls['senha'].invalid && formDir.submitted
                  "
                  class="validation-error"
                >
                  <p *ngIf="loginForm.controls['senha'].errors?.['required']">
                    SENHA REQUIRED!!!
                  </p>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
        <!-- /.Card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
