<table
  mat-table
  [dataSource]="notas"
  class="mat-elevation-z8"
  *ngIf="authService.checkRoles(['Aluno']) && notas"
>
  <!-- Item Column -->
  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef>Tipo da Avaliação</th>
    <td mat-cell *matCellDef="let notas">{{ notas.tipo.nome }}</td>
    <td mat-footer-cell *matFooterCellDef>
      <strong>Nota Final</strong>
    </td>
  </ng-container>

  <!-- Cost Column -->
  <ng-container matColumnDef="nota">
    <th mat-header-cell *matHeaderCellDef>Nota</th>
    <td
      mat-cell
      *matCellDef="let notas"
      [style.color]="notas.nota < 5 ? 'red' : 'green'"
    >
      {{ notas.nota | number : "1.2-2" }}
    </td>
    <td
      mat-footer-cell
      *matFooterCellDef
      [style.color]="nota_final < 5 ? 'red' : 'green'"
    >
      <strong>{{ (nota_final | number : "1.2-2") ?? "Não Concluido" }}</strong>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!-- <ng-container *ngIf="nota_final !== null"> -->
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  <!-- </ng-container> -->

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4" style="text-align: center">
      DISCIPLINA EM ANDAMENTO
    </td>
  </tr>
</table>
