<div class="card">
  <div class="card-header">
    <strong>Lista de Disciplinas</strong>
  </div>

  <div class="card-body">
    <mat-form-field>
      <mat-label>Procurar</mat-label>
      <input
        matInput
        (keyup)="search($event)"
        placeholder="Ex. Engenharia de Computação"
        #input
        style="padding-top: 12px"
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="disciplinaList" matSort>
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let row">
            {{ row.nome }}
          </td>
        </ng-container>

        <ng-container matColumnDef="periodo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Periodo</th>
          <td mat-cell *matCellDef="let row">
            {{ row.periodo.periodo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="carga_horaria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Carga Horária
          </th>
          <td mat-cell *matCellDef="let row">{{ row.carga_horaria }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [routerLink]="'/disciplina/' + row.id"
        ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" colspan="4">
            <h4>Não existe valor que corresponde à "{{ input.value }}"</h4>
          </td>
        </tr>
      </table>
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageIndex]="currentPage"
        (page)="onPageChange($event)"
        showFirstLastButtons
        aria-label="Select page of sugeridos"
      ></mat-paginator>
    </div>
  </div>
</div>
