<app-header></app-header>
<app-navbar></app-navbar>
<div class="content-wrapper" style="background-color: gray">
  <div class="card m-3">
    <div class="card-header">
      <div class="row">
        <div class="col-6"><strong>EMPRÉSTIMOS</strong></div>
        <div class="col-6 text-end">
          <mat-slide-toggle [(ngModel)]="checked" (change)="onSlideChange()"
            >Pendente</mat-slide-toggle
          >
        </div>
      </div>
    </div>
    <div class="card-body">
      <app-emprestimo-list-table
        #childRef
      ></app-emprestimo-list-table>
    </div>
  </div>
</div>
<app-footer></app-footer>
