<app-header></app-header>
<app-navbar></app-navbar>
<div class="content-wrapper" style="background-color: gray">
  <div class="card" *ngIf="acervo; else noAcervo">
    <div class="card-header">
      <h1>{{ acervo.titulo }}</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img
            class="acervo-img"
            src="{{ bibliotecaUrl }}/getCapa/{{ acervo.capa }}"
            alt="Not Found"
          />
        </div>
        <div class="col-md-6 col-sm-12">
          <p><strong>Autor:</strong> {{ acervo.autor.nome }}</p>
          <p><strong>Editora:</strong> {{ acervo.editora.nome }}</p>
          <p><strong>Idioma:</strong> {{ acervo.idioma.idioma }}</p>
          <p><strong>Tipo:</strong> {{ acervo.tipo.tipo }}</p>
          <p><strong>Categoria:</strong> {{ acervo.categoria.categoria }}</p>
          <p><strong>Resumo:</strong> {{ acervo.resumo }}</p>
          <p><strong>Situação:</strong> {{ acervo.situacao.situacao }}</p>
          <p><strong>Estado:</strong> {{ acervo.estado.estado }}</p>
          <p *ngIf="acervo.situacao.situacao == 'Disponível'">
            <button
              role="button"
              class="btn btn-primary"
              [routerLink]="'/biblioteca/emprestimo/fazer/' + acervo.id"
            >
              Fazer Empréstimo
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noAcervo> </ng-template>

<app-footer></app-footer>
