<app-header></app-header>
<app-navbar></app-navbar>
<div class="content-wrapper" style="background-color: gray">
  <div class="card" *ngIf="showCard">
    <div class="card-header">
      <h1>
        {{ ativExtraInfo.nome }}
      </h1>
    </div>

    <div class="card-body">
      <div class="curso-detail">
        <p>
          {{ ativExtraInfo.descricao }}
        </p>
      </div>
      <app-ativ-extra-aluno-table
        [ativExtra_id]="ativExtraInfo.id"
      ></app-ativ-extra-aluno-table>
    </div>
  </div>
</div>
<app-footer></app-footer>
