<app-header></app-header>
<app-navbar></app-navbar>
<div class="content-wrapper" style="background-color: gray">
  <div class="card" *ngIf="showCard">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h1>
            {{ ativExtraInfo.nome }}
          </h1>
        </div>
        <div
          class="col text-end"
          *ngIf="authService.checkRoles(['Secretaria'])"
        >
          <button class="btn btn-primary" (click)="atribuirAlunoAtivExtra()">
            Adicionar Aluno
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="curso-detail">
        <p>
          {{ ativExtraInfo.descricao }}
        </p>
      </div>
      <app-ativ-extra-aluno-table
        [ativExtra_id]="ativExtraInfo.id"
      ></app-ativ-extra-aluno-table>
    </div>
  </div>
</div>
<app-footer></app-footer>
