<app-header></app-header>
<app-navbar></app-navbar>
<div class="content-wrapper" style="background-color: gray">
  <div class="search-container m-3">
    <form>
      <fa-icon [icon]="faSearch"></fa-icon>
      <input type="text" placeholder="Pesquisa..." (input)="search($event)" />
    </form>
  </div>

  <div class="acervos m-3" *ngIf="totalItems != 0">
    <div class="card-container">
      <mat-card
        class="acervo-card"
        *ngFor="let acervo of acervoList; let index = index"
        tabindex="0"
      >
        <mat-card-header
          class="card-header"
          routerLink="/biblioteca/acervo/{{ acervo.id }}"
        >
          <div class="header-content">
            <strong title="{{ acervo.titulo }}">{{ acervo.titulo }}</strong>
          </div>
        </mat-card-header>

        <div
          class="card-image-container"
          routerLink="/biblioteca/acervo/{{ acervo.id }}"
        >
          <img
            mat-card-image
            class="card-image"
            [src]="bibliotecaUrl + '/getCapa/' + acervo.capa"
            alt="Not Found"
          />
        </div>

        <mat-card-content class="card-content">
          <div class="author-container">
            <a
              routerLink="/biblioteca/autor/{{ acervo.autor.id }}"
              title="{{ acervo.autor.nome }}"
              >{{ acervo.autor.nome }}</a
            >
          </div>
          <p
            [style.color]="
              acervo.situacao.situacao === 'Disponível' ? 'green' : 'red'
            "
          >
            {{ acervo.situacao.situacao }}
          </p>
        </mat-card-content>

        <mat-card-footer class="card-footer">
          <button mat-button (click)="showDetail(index)">
            {{ expandedIndex == index ? "Ver Resumo" : "Fechar Resumo" }}
          </button>
          <p *ngIf="expandedIndex == index">{{ acervo.resumo }}</p>
        </mat-card-footer>
      </mat-card>
    </div>

    <mat-paginator
      [length]="totalItems"
      [pageIndex]="currentPage"
      (page)="onPageChange($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>

<app-footer></app-footer>
