<div class="search">
  <mat-form-field>
    <mat-label>Procurar</mat-label>
    <input
      matInput
      (keyup)="search($event)"
      placeholder="Nome do Acervo ou do Leitor"
      #input
      style="padding-top: 12px"
    />
  </mat-form-field>
</div>

<table mat-table [dataSource]="emprestimos">
  <ng-container matColumnDef="leitor">
    <th mat-header-cell *matHeaderCellDef>Leitor</th>
    <td mat-cell *matCellDef="let row">{{ row.leitor.nome }}</td>
  </ng-container>

  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef>Acervo</th>
    <td mat-cell *matCellDef="let row">{{ row.acervo.titulo }}</td>
  </ng-container>

  <ng-container matColumnDef="multa">
    <th mat-header-cell *matHeaderCellDef>Tem multa?</th>
    <td
      mat-cell
      *matCellDef="let row"
      [matTooltip]="row.multa ? 'Multa de : R$' + row.multa.valor : ''"
    >
      <ng-container *ngIf="row.multa" class="align-item-center">
        <fa-icon [icon]="faCheck" style="color: red"></fa-icon>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]="'/biblioteca/emprestimo/' + row.id"
  ></tr>
</table>

<mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageIndex]="currentPage"
  (page)="onPageChange($event)"
  showFirstLastButtons
  [pageSizeOptions]="[10, 50, 100]"
  aria-label="Select page of classes"
></mat-paginator>
