<div class="card">
  <div class="card-header">Detalhes da Classe</div>
  <div class="card-body" *ngIf="classe">
    <p>
      Disciplina:
      <strong
        title="Ver Detalhes da Disciplina"
        routerLink="/disciplina/{{ classe.disciplina_id }}"
        >{{ classe.disciplina.nome }}</strong
      >
    </p>
    <p>Professor: {{ classe.professor.pessoa.nome }}</p>
    <p>Ano: {{ classe.ano }}</p>

    <br />
    <h3>ALUNOS</h3>
    <ol>
      <li *ngFor="let aluno of alunos">
        <a routerLink="/pessoa/{{ aluno.id }}">
          {{ aluno.nome }}
        </a>
      </li>
    </ol>

    <!-- <app-notas-table></app-notas-table> -->
  </div>
</div>
