<div
  class="navBarForAlunoProfessor"
  *ngIf="authService.checkRoles(['Aluno', 'Professor'])"
>
  <!-- <li class="nav-item" *ngIf="authService.checkRoles(['Aluno'])">
    <a id="layoutOptionsLink" class="nav-link">
      <fa-icon class="navbar_icon" [icon]="faUser"></fa-icon>
      <p>Aluno</p>
      <fa-icon class="navbar_icon float-right"></fa-icon>
    </a>
  </li> -->

  <li class="nav-item">
    <a routerLink="/classe/list" class="nav-link" [routerLinkActive]="'active'">
      <fa-icon class="navbar_icon" [icon]="faUserGroup"></fa-icon>
      <p>&nbsp;Classe</p>
      <fa-icon class="navbar_icon float-right"></fa-icon>
    </a>
  </li>

  <li class="nav-item">
    <a
      routerLink="/disciplina/list"
      class="nav-link"
      [routerLinkActive]="'active'"
    >
      <fa-icon class="navbar_icon" [icon]="faUser"></fa-icon>
      <p>&nbsp;Disciplina</p>
      <fa-icon class="navbar_icon float-right"></fa-icon>
    </a>
  </li>

  <li class="nav-item">
    <a routerLink="/curso/list" class="nav-link" [routerLinkActive]="'active'">
      <fa-icon class="navbar_icon" [icon]="faGraduationCap"></fa-icon>
      <p>&nbsp;Curso</p>
    </a>
  </li>
  
  <li class="nav-item">
    <a
      routerLink="/ativExtra/list"
      class="nav-link"
      [routerLinkActive]="'active'"
    >
      <fa-icon class="navbar_icon" [icon]="faBaseball"></fa-icon>
      <p>&nbsp;Atividade Extracurricular</p>
    </a>
  </li>

  <li
    class="nav-item"
    *ngIf="
      authService.checkPermission([
        'acervo.create',
        'acervo.read',
        'acervo.update',
        'acervo.delete'
      ])
    "
  >
    <a
      routerLink="/biblioteca/acervo/list"
      class="nav-link"
      [routerLinkActive]="'active'"
    >
      <fa-icon class="navbar_icon" [icon]="faBookOpen"></fa-icon>
      <p>&nbsp;Biblioteca</p>
    </a>
  </li>
</div>
